*.o

*~
\#*#
.\#*

block_cat
byte_cat
diabolical_byte_cat
random_block_cat
reverse_block_cat
reverse_byte_cat
rot13
stride_cat
io300_test
impl.o
test_helpers.o
out.txt
/test[0-9][0-9][0-9]*
/rtest[0-9][0-9][0-9]*
/builtin[0-9][0-9][0-9]*
/student[0-9][0-9][0-9]*
/extra[0-9][0-9][0-9]*

test_programs/reference/reverse
test_programs/reference/stride
test_programs/reference/rot13

*.pyc
__pycache__/

.DS_Store

benchmark.json

